body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  --main-color: rgba(238, 110, 115, 1);
}

main {
  flex: 1 0 auto;
  background-image: url('../assets/img-background.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

header {
  margin-bottom: 40px;
}
footer {
  padding-bottom: 40px;
  padding-top: 20px;
  background-color: var(--main-color);
}

.square {
  border: 1px solid var(--main-color);
  height: 30vh;
  width: 30vh;
}
